config SHIELD_WARTOTEM_LEFT
    def_bool $(shields_list_contains,wartotem_left)

config SHIELD_WARTOTEM_RIGHT
    def_bool $(shields_list_contains,wartotem_right)

config SHIELD_WARTOTEM_DONGLE
    def_bool $(shields_list_contains,wartotem_dongle)
