# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT


config SHIELD_WARTOTEM_LEFT
    def_bool $(shields_list_contains,wartotem_left)

config SHIELD_WARTOTEM_RIGHT
    def_bool $(shields_list_contains,wartotem_right)
