#include <physical_layouts.dtsi>

/ {
    physical_layout_wartotem: physical_layout_wartotem {
        compatible = "zmk,physical-layout";
        display-name = "warTotem";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0   100     0>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100  300    0       0   300     0>
            , <&key_physical_attrs 100 100  400    0       0   400     0>
            , <&key_physical_attrs 100 100  600    0       0   600     0>
            , <&key_physical_attrs 100 100  700    0       0   700     0>
            , <&key_physical_attrs 100 100  800    0       0   800     0>
            , <&key_physical_attrs 100 100  900    0       0   900     0>
            , <&key_physical_attrs 100 100 1000    0       0  1000     0>
            , <&key_physical_attrs 100 100(-100)  100       0(-100)   100>
            , <&key_physical_attrs 100 100    0  100       0     0   100>
            , <&key_physical_attrs 100 100  100  100       0   100   100>
            , <&key_physical_attrs 100 100  200  100       0   200   100>
            , <&key_physical_attrs 100 100  300  100       0   300   100>
            , <&key_physical_attrs 100 100  400  100       0   400   100>
            , <&key_physical_attrs 100 100  600  100       0   600   100>
            , <&key_physical_attrs 100 100  700  100       0   700   100>
            , <&key_physical_attrs 100 100  800  100       0   800   100>
            , <&key_physical_attrs 100 100  900  100       0   900   100>
            , <&key_physical_attrs 100 100 1000  100       0  1000   100>
            , <&key_physical_attrs 100 100 1100  100       0  1100   100>
            , <&key_physical_attrs 100 100(-100)  200       0(-100)   200>
            , <&key_physical_attrs 100 100    0  200       0     0   200>
            , <&key_physical_attrs 100 100  100  200       0   100   200>
            , <&key_physical_attrs 100 100  200  200       0   200   200>
            , <&key_physical_attrs 100 100  300  200       0   300   200>
            , <&key_physical_attrs 100 100  400  200       0   400   200>
            , <&key_physical_attrs 100 100  600  200       0   600   200>
            , <&key_physical_attrs 100 100  700  200       0   700   200>
            , <&key_physical_attrs 100 100  800  200       0   800   200>
            , <&key_physical_attrs 100 100  900  200       0   900   200>
            , <&key_physical_attrs 100 100 1000  200       0  1000   200>
            , <&key_physical_attrs 100 100 1100  200       0  1100   200>
            , <&key_physical_attrs 100 100(-100)  300       0(-100)   300>
            , <&key_physical_attrs 100 100    0  300       0     0   300>
            , <&key_physical_attrs 100 100  100  300       0   100   300>
            , <&key_physical_attrs 100 100  200  300       0   200   300>
            , <&key_physical_attrs 100 100  300  300       0   300   300>
            , <&key_physical_attrs 100 100  400  300       0   400   300>
            , <&key_physical_attrs 100 100  600  300       0   600   300>
            , <&key_physical_attrs 100 100  700  300       0   700   300>
            , <&key_physical_attrs 100 100  800  300       0   800   300>
            , <&key_physical_attrs 100 100  900  300       0   900   300>
            , <&key_physical_attrs 100 100 1000  300       0  1000   300>
            , <&key_physical_attrs 100 100 1100  300       0  1100   300>
            , <&key_physical_attrs 100 100  100  400       0   100   400>
            , <&key_physical_attrs 100 100  200  400       0   200   400>
            , <&key_physical_attrs 100 100  300  400       0   300   400>
            , <&key_physical_attrs 100 100  400  400       0   400   400>
            , <&key_physical_attrs 100 100  600  400       0   600   400>
            , <&key_physical_attrs 100 100  700  400       0   700   400>
            , <&key_physical_attrs 100 100  800  400       0   800   400>
            , <&key_physical_attrs 100 100  900  400       0   900   400>
            ;
    };
};
